button, input {
  margin: 10px;
}

.message {
  background: lightgrey;
  font-size: 22px;
  border-style: solid;
  border-radius: 6px;
  padding: 10px;
  margin-left: 2px;
  margin-bottom: 10px;
}

.success {
  color: green;
}

.error {
  color: red;
}

#name {
  margin-left: 56px;
}

#description {
  margin-left: 17px;
}

.form-control {
  max-width: 350px;
}

body {
  background-color: #dedede;
}

nav {
  background-color: dodgerblue;
}

.nav-link {
  align-self: center;
}

.nav-link p {
  display: table-cell;
}
